<?xml version="1.0"?>

<model>
  <name>Velodyne HDL-32</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>RyodoTanaka</name>
    <email>groadpg@gmail.com</email>
  </author>

  <description>
    A model of a Velodyne HDL-32 LiDAR sensor.
  </description>

</model>
